{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}Welcome | {{ block.super }}{% endblock %}

<style>
{% block style %}

{% endblock %}
</style>

{% block jumbotron %}
<div class="jumbotron">
  <div class="row">
    <div class='col-sm-6'>
      <h1>Try Django 1.8</h1>
      <p class="lead">This is my exploration into the framework of Django 1.8. So far, I like it.</p>
      <p>
        <a class="btn btn-lg btn-primary" href="" role="button">Join Us &raquo;</a>
      </p>
    </div>
    <div class='col-sm-6' style="background-color:black; min-height: 300px;">

    </div>
  </div>
</div>
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-sm-3 pull-right">
    <h1 class="text-align-center">{{ template_title }}</h1>

    {{ user }}

    {{ request.user }}
    <form class="" action="." method="post">{% csrf_token %}
    {{ form|crispy }}

    <input class="btn btn-primary" type='submit' value='Sign Up' />
    </form>

  </div>
  <div class='col-sm-3'>
    <p class="lead text-align-center">
       Built WIth Django &amp; Bootstrap
    </p>
  </div>
  <div class='col-sm-3'>
    <p class="lead text-align-center">
       Created for easy styling.
    </p>
  </div>
  <div class='col-sm-3'>
    <p class="lead text-align-center">
       yay for open source!
    </p>
  </div>
</div>
{% endblock %}
